@tailwind base;
@tailwind components;
@tailwind utilities;

.grayscale {
  filter: grayscale(1);
}

.slick-slider {
  height: 50px;
}
  

.testtest {
  height: 100px; 
  width: 100px; 
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.slick-track {
  overflow: hidden;
}